/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('./extras/bg-cai-fang-unsplash22.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
}

/* Overlay to darken the background */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 34, 28, 0.8); /* Dark overlay with 80% opacity */
  z-index: -1;
}

:root {
  --primary-dark: #2b221c;
  --secondary-dark: #3a211a;
  --accent-gold: #e6b07c;
  --light-gold: #d6b58c;
  --dark-brown: #714837;
  --light-brown: #453025;
  --text-light: #ffffff;
  --text-dark: #2b221c;
}
/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .service-card {
    flex: 1 1 calc(50% - 1rem); /* Two cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .service-card {
    flex: 1 1 100%; /* One card per row on small screens */
  }
}
